.editNote {
  font-size: 2.5rem;
  font-weight: 900;
  color: black;
  text-transform: uppercase;
  font-family: "Tilt Warp", cursive;
  letter-spacing: 0.5rem;
  text-align: center;
  margin-top: 2rem;
  color: green;
}
.classSvg {
  width: 30%;
  margin: auto;
}
.classSvg img {
  width: 100%;
}
.btn-create {
  text-align: center;
}
.css-button-arrow--black {
  text-align: center;
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  border: none;
  background-color: #343a40;
}
.css-button-arrow--black:hover {
  border-radius: 5px;
  padding-right: 24px;
  padding-left: 8px;
}
.css-button-arrow--black:hover:after {
  opacity: 1;
  right: 10px;
}
.css-button-arrow--black:after {
  content: "\00BB";
  position: absolute;
  opacity: 0;
  font-size: 20px;
  line-height: 40px;
  top: 0;
  right: -20px;
  transition: 0.4s;
}

.create-form {
  width: 50%;
  margin: auto;
  padding: 2rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 0.5rem;
  background-color: bisque;
}
.InputSubmitBtn {
  margin-top: 1rem;
  height: 3rem;
  border-radius: 1rem;
  border: none;
  background-color: #18bb5c;
}
.InputSubmitBtn:hover {
  background-color: #1ea566;
  color: white;
  cursor: pointer;
  font-weight: 600;
}
.create-form input,
select {
  height: 2rem;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
}
.edit-form input,
select {
  height: 2rem;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
}
.edit-form {
  margin: auto;
  padding: 2rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 0.5rem;
  background-color: bisque;
}
.edit-form form div span {
  font-weight: 500;
}
.edit-form form div textarea {
  width: 100%;
}
.create-form span {
  font-weight: 500;
}

.add-class-grid {
  margin: auto;
  margin-top: 1rem;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.edit-class-grid {
  margin-top: -5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.edit-class-grid img {
  width: 100%;
}
.add-class-grid img {
  width: 100%;
}
@media (min-width: 600px) and (max-width: 900px) {
  .classSvg {
    width: 50%;
    margin: auto;
  }
  .create-form {
    width: 50%;
  }
  .add-class-grid {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(1, 1fr);
  }
  .edit-class-grid {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 600px) {
  .classSvg {
    width: 60%;
    margin: auto;
  }
  .create-form {
    width: 65%;
  }
  .add-class-grid {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(1, 1fr);
  }
  .edit-class-grid {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(1, 1fr);
  }
}
